<div class="container">
  <h2>Job Application Form</h2>
  <form formGroup="jobForm" (ngSubmit)="submitForm()">
    <label>Full Name:</label>
    <input
      type="text"
      formControlName="fullName"
      placeholder="Enter full name"
    />
    <div
      *ngIf="
        jobForm.get('fullName')?.invalid && jobForm.get('fullName')?.touched
      "
    >
      <small *ngIf="signupForm.get('fullName')?.errors?.['required']"
        >Username is required.</small
      >
      <small *ngIf="signupForm.get('fullName')?.errors?.['minlength']"
        >Must be at least 3 characters.</small
      >
    </div>

    <label>Email:</label>
    <input type="email" formControlName="email" placeholder="Enter email" />

    <label>Phone:</label>
    <input
      type="text"
      formControlName="phone"
      placeholder="Enter phone number"
    />

    <h4>Skills:</h4>
    <div formArrayName="skills">
      <div *ngFor="let skill of skills.controls; let i = index">
        <input formControlName="i" />
        <button type="button" (click)="removeSkill(i)">Remove</button>
      </div>
    </div>

    <button type="button" (click)="addSkill()">Add Skill</button>

    <button type="submit" [disabled]="jobForm.invalid">Submit</button>
  </form>
</div>
